.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;

  width: 300px;
  height: 80px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.name {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.3);
}
